# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Mac / Linux / Windows
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Keep example files
!.env.example

# Firebase emulators (se usar localmente)
firebase-debug.log
.firebaserc
.firebase/
